@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Frijole&family=Gloria+Hallelujah&family=Monoton&family=Permanent+Marker&family=Rock+Salt&family=Rubik+Lines&family=Titan+One&display=swap");
/*
 font-family: "Titan One", sans-serif;
   font-family: "Rubik Lines", system-ui;
     font-family: "Monoton", sans-serif;
       font-family: "Rock Salt", cursive;
         font-family: "Frijole", system-ui;
*/
.container-fluid{
  margin-top: 0%;
}
.titulo-card{
    font-size: 2.2rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: "Rock Salt", cursive;
    font-weight: bold;
  }
  .contenedor-ticket {
    background-image:url(/src/assets/2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    padding-top: 7%;
    padding-bottom: 13%;
    padding-left: 15%;
    object-fit: contain;
  }  

  .ticket-inside{
    flex-direction: column;
    display: flex;
    gap: 1rem;
  }
  .titulo-user {
    display: flex;
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 0.5rem;
    font-size:1rem;
    color: white;
    font-weight: 500;
    font-family: "Monoton", sans-serif;
  }
  .titulo-user1{  
    font-size:1.65rem;
    color: white;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    
  }
  .codigoQR {
    text-align: center;
    color:rgb(90,190,205) ;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgb(5, 6, 6);
    margin-bottom: 2%;
  }
  .ticketname {
    text-align: center;
    color:rgb(221,27,118); 
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgb(5, 6, 6);
  }
  
