@media screen and (max-width: 960px){
  .titulo-card{
    font-size: 1.3rem;
  }
  .contenedor-ticket{
    padding-top: 7%;
    padding-bottom: 13%;
    padding-left: 13%;
  }
  .ticket-user{
    font-size: 1.5rem;
  }
  .codigoQR{
    font-size: 1rem;
    margin-bottom: 4%;
  }
  .ticketname{
    font-size: 1rem;
  }
}
@media screen and (max-width: 920px){
  .contenedor-ticket{
    padding-top: 7%;
    padding-bottom: 13%;
    padding-left: 17%;
  }
  .ticket-inside{
    display: flex;
  }
  .titulo-user{
    font-size: 1rem;
  }
  .titulo-user1{
    font-size: 1.2rem;
  }
  .codigoQR{
    font-size: 1rem;
    margin-bottom: 4%;
  }
  .ticketname{
    font-size: 1rem;
  }
}
@media screen and (max-width: 800px){
  .container-fluid{
    margin-top: 25%;
  }
  .titulo-card{
    font-size: 1rem;
  }
  .contenedor-ticket{
    object-fit: contain;
  }
  .ticket-inside{
    margin-left: -8%;
  }
  .titulo-user{
    font-size: 0.4rem;
  }
  .titulo-user1{
    font-size: 0.7rem;
  }
  .codigoQR{
    font-size: 1rem;
  }
}