.titulo-card{
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: "Single Day", cursive;
    font-weight: bolder;
    font-style: normal;
    
  }
  .titulo h1{
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1%;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  .titulo h2{
    font-size: 1.2rem;
    color: rgb(207,18,117);
    text-transform: uppercase;
    text-align: center;
    font-family: "Single Day", cursive;
    font-weight: bolder;
    cursor: pointer;
  }
  
  .contenedor-ticket {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/src/assets/2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    object-fit: cover;
    display: flex;
    flex-direction:row;
    padding: 4.5rem;
  }
  .ticket-inside{
    flex-direction: column;
    display: flex;
    gap: 1rem;
    margin-left: 2%;
    width:65%;
    margin-bottom: 8%;
  }
  
  .titulo-user {
    display: flex;
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 0.5rem;
    font-size:1.7rem;
    color: white;
    font-family: "Single Day", cursive;
    font-weight: 500;
    text-align: center;
  }
  .titulo-user1{  
    font-size:2rem;
    color: white;
    font-family: "Single Day", cursive;
    font-weight: bolder;
  }
  
  .pic3 {
    position: absolute;
    margin-left: 63%;
    max-width: 18%;
    height:fit-content;
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  }