
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
  width: 100%;
}

.main video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .shadow-overlay {
      background-color: rgba(23, 0, 0, 0.7);
  }
}
.contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  margin-top: 5%;
}
.pic {
  position: absolute;
  top: -58%;
  height: 70%;
  left: 3%;
  padding-bottom: 6%;
  object-fit: contain;
}
.username{
  display: flex;
  flex-direction: column;
}
.username input{
  width: 100%;
  text-align: center;
  font-size: 90%;
  padding: 3%;
  border-color: black;
  border-radius: 10px;
}

.username3{
  box-sizing: border-box;
  margin-bottom: 1.5%;
}
.username3 label{
  color: #0a0606;
  font-size: 100%;
  font-weight: bold;
  visibility: hidden;
}
.username3 select{
  width: 100%;
  background: white;
  padding: 3%;
  font-size: 90%;
  border-radius: 8px;
  cursor: pointer;
}
.username3 option{
  text-align: center;
}
button{
  margin-top: 5%;
  background:rgb(221,27,118);
  color:#fff;
  border:none;
  position:relative;
  width: 100%;
  font-size:1.6em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  padding: 3%;
  border-radius: 10px;
  font-weight: bold;
}

button:hover{
  background:#000000;
  color:rgb(90,190,205) ;
}
.error {
  color: red;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.boton-container {
  left: 0;
  width: 100%;
}
.boton-container2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
} 

/*MEDIA QUERIES
@media screen and (min-width: 375px){
  .username input{
    width: 100%;
    text-align: center;
    font-size: 65%;
    padding: 3%;
    border-color: black;
    border-radius: 10px;
  }
  
  .username3{
    box-sizing: border-box;
    margin-bottom: 1.5%;
  }
  .username3 label{
    color: #0a0606;
    font-size: 100%;
    font-weight: bold;
    visibility: hidden;
  }
  .username3 select{
    width: 100%;
    background: white;
    padding: 3%;
    font-size: 65%;
    border-radius: 8px;
    cursor: pointer;
  }
  .username3 option{
    text-align: center;
  }
  button{
    margin-top: 5%;
    background:rgb(221,27,118);
    color:#fff;
    border:none;
    position:relative;
    width: 100%;
    font-size:1.2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    padding: 3%;
    border-radius: 10px;
    font-weight: bold;
  }
  
  button:hover{
    background:#000000;
    color:rgb(90,190,205) ;
  }
  .error {
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .titulo-card{
    font-size: 2.5rem;
  }
  .titulo h1{
    font-size: 1rem;
  }
  .titulo h2{
    font-size: 1.1rem;
    margin-bottom: 30%;
  }
  .contenedor-ticket {
    padding: 1.9rem;
  }
  .ticket-inside{
    flex-direction: column;
    display: flex;
    width: 80%;
    gap: 2%;
  }
  
  .titulo-user {
    display: flex;
    column-gap: 0.5rem;
    font-size:0.5rem;
  }
  .titulo-user1{  
    font-size:0.7rem;
  }
  
  .pic3 {
    margin: 4%;
    max-width: 18%;
    height:fit-content;
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  }
} */