
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
  width: 100%;

}

.main video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  /* background-color: #000000cc; */
}
@media (max-width: 700px) {
  .shadow-overlay {
      background-color: rgba(23, 0, 0, 0.7);
  }
}
.contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  margin-top: 5%;
}
.pic {
  position: absolute;
  top: -58%;
  height: 70%;
  left: 3%;
  padding-bottom: 6%;
}
.username{
  display: flex;
  flex-direction: column;
}
.username input{
  width: 100%;
  text-align: center;
  font-size: 90%;
  padding: 3%;
  border-color: black;
  border-radius: 10px;
}

.username3{
  box-sizing: border-box;
  margin-bottom: 1.5%;
}
.username3 label{
  color: #0a0606;
  font-size: 100%;
  font-weight: bold;
  visibility: hidden;
}
.username3 select{
  width: 100%;
  background: white;
  padding: 3%;
  font-size: 90%;
  border-radius: 8px;
  cursor: pointer;
}
.username3 option{
  text-align: center;
}
button{
  margin-top: 5%;
  background:rgb(221,27,118);
  color:#fff;
  border:none;
  position:relative;
  width: 100%;
  font-size:1.6em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  padding: 3%;
  border-radius: 10px;
  font-weight: bold;
}

button:hover{
  background:#000000;
  color:rgb(90,190,205) ;
}
.error {
  color: red;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
/*ESTILOS DE LA CARD*/

.titulo-card{
  margin-top: -5%;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: "Single Day", cursive;
  font-weight: 900;
  font-style: normal;

}
.titulo h1{
  font-size: 1.4rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2%;
  font-family: "Single Day", cursive;
  font-weight: 900;
  font-style: normal;

}
.titulo h2{
  font-size: 1.4rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2%;
  font-family: "Single Day", cursive;
  font-weight: 900;
  font-style: normal;

}
.contenedor-ticket {
  display: grid;
  grid-template-columns: 3fr 6fr;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./assets/5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  object-fit: cover;
  padding:9%;
  
}
.ticket-inside{
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}
.titulo-user {
  display: flex;
  align-items: center;
  font-size:1.8rem;
  margin-bottom: 11%;
  color: white;
  gap: 0.7rem;
  font-weight:bolder
}
.titulo-user .titulo-user1{
  font-size:1.3rem;
  font-family: "Single Day", cursive;
  font-weight: bolder;
  font-style: normal;
}
.pic3 {
  margin-left: 68%;
  margin-bottom: 6%;
  width:35%;
  min-height: 1vh;
  background-size: contain;
}
.boton-container {
  left: 0;
  width: 100%;
  padding-bottom: 1%;

}
.boton-container2 {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
} 
.boton2 button{
  display: grid;
  width: fit-content;
  background:rgb(221,27,118);
  color:#fff;
  cursor:pointer;
  transition:800ms ease all;
  font-size: 1.4em;
  padding: 11px;

}
button:hover{
  background:#000000;
  color:rgb(90,190,205) ;
}
.boton3 button{
  background:rgb(221,27,118);
  color:#fff;
  border:none;
  font-size: 1.2em;
  cursor: pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 10px;
  text-align: left;
  padding: 11px;
  font-weight: bold;
}
button:hover{
  background:#000000;
  color:rgb(90,190,205) ;
}
