
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
  width: 100%;
}

.main video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  margin-top: 5%;
}

.pic {
  position: absolute;
  top: -58%;
  height: 70%;
  left: 3%;
  padding-bottom: 6%;
  object-fit: contain;
}
@media screen and (min-width: 412px){
  .pic{
    position: absolute;
    width: 99%;
    padding: 1rem;
  }
}
@media screen and (min-width: 375px){
  .pic{
    position: absolute;
    width: 99%;
    padding: 1rem;
  }
}
.username{
  display: flex;
  flex-direction: column;
}

.username input{
  width: 100%;
  text-align: center;
  font-size: 90%;
  padding: 3%;
  border-color: black;
  border-radius: 10px;
}

.username3{
  box-sizing: border-box;
  margin-bottom: 1.5%;
}
.username3 label{
  color: #0a0606;
  font-size: 100%;
  font-weight: bold;
  visibility: hidden;
}
.username3 select{
  width: 100%;
  background: white;
  padding: 3%;
  font-size: 90%;
  border-radius: 8px;
  cursor: pointer;
}

.username3 option{
  text-align: center;
}
button{
  margin-top: 5%;
  background:rgb(221,27,118);
  color:#fff;
  border:none;
  position:relative;
  width: 100%;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 10px;
  font-weight: bolder;
  text-transform: uppercase;
}
@media screen and (min-width: 412px){
  button{
    font-size: 80%;
  }
}
@media screen and (min-width: 375px){
  button{
    font-size: 85%;
    padding: 5%;
  }
}

button:hover{
  background:#000000;
  color:rgb(90,190,205) ;
}
.error {
  color: rgb(175, 0, 0);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1rem;
}

